aaaa


/* shared style */


.banner-img {
    background-image: url('../images/banner.png');
    width: 884px;
    height: 402px; 
    border-radius: 10px;
}

.banner-sub-title, .banner-title {
    text-align: center;
}

