/* bellow all of the css style */


/* Universal Style */
body {
    width: 884px;
    margin: auto;
}



/* shared style */
/* section {
    padding-top: 80px;
} */


/* padding: 33px 93px 0px 93px; */



.banner-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(0deg,
            rgb(16, 16, 16, 0) 1%,
            rgba(16, 16, 16) 100%), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 884px;
    height: 402px;
    border-radius: 10px;

}

.banner-sub-title {
    text-align: center;
    color: white;
    font-size: 21px;
}


.banner-title {
    text-align: center;
    color: white;
    font-size: 48px;
}



/* 60% OFF  */
.discount-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 537px;
    height: 540px;
    margin-top: 80px;
}


.discount-title {
    color: #FF0000;
    font-size: 58px;
    text-align: center;

}

.discount-sub-title {
    color: #FF0000;
    font-size: 16px;
    text-align: center;

}

.discount-second-title {
    color: #070211;
    font-size: 32px;
    text-align: center;
}



/* greetings banner */
.party-container {
    background: url('../images/Vectorrr.png') no-repeat center/cover;
    display: flex;
    /* side by side text + image */
    justify-content: space-around;
    padding-left: 84px;
    padding-right: 92px;
    align-items: center;
    border-radius: 15px;
    color: white;
    /* margin-top: 280px; */
    width: 884px;
    height: 402px;
    margin-top: 80px;
}

.party-content {
    max-width: 50%;
}

.party-img img {
    width: 200px;
}